apiVersion: v1
kind: Service
metadata:
  name: {{ include "artipub-charts.fullname" . }}
  labels:
    {{- include "artipub-charts.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.backport }}
      targetPort: back
      protocol: TCP
      name: back
  selector:
    {{- include "artipub-charts.selectorLabels" . | nindent 4 }}
